.container {
  padding: 0 2rem;
}

.main {
  min-height: 94vh;
  padding: 1rem 0;
  flex: 1;
  display: grid;
  grid-template-rows: [header] 1rem [content] [boxes] 4fr;
  justify-content: center;
  align-items: center;

  header {
    grid-row: 'header';
    background-color: cadetblue;
  }
  .content {
    grid-row: 'content';
  }

  .list {
    grid-row: 'boxes';
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
  }
}

.footer {
  display: flex;
  flex: 1;
  font-style: italic;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: right;
  align-items: center;
}

.footer a {
  margin-left: 0.5em;
}

.title strong {
  color: yellow;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title {
  text-align: center;
}
